# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#VSC
.vscode

# Cmake
/*build*/

.cache
*.DS_Store

# QT
/.qtc_clangd
*.includes
*.files
*.cxxflags
*.cxxflags
*.user
*.creator
*.config
*.cflags

# LSP
compile_commands.json

# IDE Specific
/.idea
/.vs

# XCode
/.qt
/CMakeFiles
CMakeCache.txt
CMakeUserPresets.json
CMakeScripts/ReRunCMake.make
*.pbxproj
*.xcsettings
cmake_install.cmake
/LogicGraphCreator_autogen
/LogicGraphCreator.xcodeproj

# MSVC
*.pdb
CppProperties.json

# .log files we generate
*.log
/docs/doxyoutput

# for cbuild plugin
build_error.txt
/releaseFiles
/docs/Doxygen

# coverage results
/coverage

# third-party libs
/external
/lib-binary
/CircuitLib/procedural/rust/target
CircuitLib/procedural/rust/Cargo.lock
